# Composer
/vendor/

# Phive
/tools/

# PHPStorm
/.idea/

# Eclipse
/.settings
/.project
/.buildpath

# Netbeans
/nbproject/

# Build Artifacts
/build/

# papaya CMS
/papaya.php
/htdocs/papaya/
/htdocs/revisions.inc.php
/htdocs/papaya-themes/
/papaya-data/
/templates/

# default database file
/papaya.sqlite

# modules test directory
/src/modules/test/
