<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="false"
         strict="false"
         bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="papayaCMS">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
