<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="papayaCMS">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory>src/</directory>
    </whitelist>
  </filter>
</phpunit>
