<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="papayaCMS">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="false">
      <directory suffix=".php">src/system/Papaya</directory>
    </whitelist>
  </filter>
</phpunit>
